include /components/ui/Input/Input

mixin FormItem({title, inputList})
  - const B = `form-item`;

  div(class=`${B}`)&attributes(attributes)
    h3(class=`${B}__title`) #{ title }

    ul(class=`${B}__list`)
      each item in inputList
        li(class=`${B}__item`)
          +Input(item)(class=`${B}__input`)
