include /components/ui/Icon/Icon

mixin FooterSoc(list)
  - const B = `footer-soc`;

  ul(class=`${B}`)&attributes(attributes)
    each item in list
      li(class=`${B}__item`)
        a(class=`${B}__item-link` href=item.href)
          +Icon(item.icon)(class=`${B}__item-icon`)
