include /components/ui/btn/btn
include /components/ui/Icon/Icon
include /components/ui/List/List
include /components/ui/Outer/Outer
include ../Logo/Logo
include ./BtnGroup/BtnGroup
include /components/ui/Burger/Burger

mixin Header({ nav, btnGroup, tel })
  - const B = 'header';

  +Outer(B,B, 'header')
    a(href='#' class=`${B}__logo`)
      +Icon('logo')(class=`${B}__logo-icon`)

    nav(class=`${B}__nav`)
      ul(class=`${B}__list`)
        each item in nav
          li(class=`${B}__item`)
            a(class=`${B}__item-link` href=item.href)
              span #{ item.label }
              if item.dropdownList
                +Icon('arrow-down')(class=`${B}__item-icon`)

    +BtnGroup(btnGroup, tel)(class=`${B}__btn-group`)

    +Burger('burger')(class=`${B}__burger`)


